<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECE590_smartphone_IOS_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFA482D21DB9170400809D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA482E61DB9170500809D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA482F11DB9170500809D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
